.home-wrapper{
  padding: 50px;
}

.avatar {
  position: relative;
  cursor: pointer;
}

#scrollbar-c {
  overflow-x: hidden !important;
}

.user-about-holder {
  padding: 20px;
  text-align: left;
  border: 2px dotted red;
  border-image: linear-gradient(to right, #4ca3d3, #83f5b4) 1;
}

.avatar-choose {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar:hover label {
  display: inline-block;
}

.avatar-choose label {
  cursor: pointer;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  display: none;
  background: #fffe;
  padding: 10px 20px;
  border: 1px solid #888;
  transition: 0.3s;
}

.avatar img {
  max-width: 200px;
  height: 200px;
}

.rounded {
  border-radius: 10px !important;
}

.navtabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.nav-tabs .nav-item {
  background: #eee !important;
  border: none;
  color: #333;
  border-bottom: 3px solid transparent !important;
}

.nav-tabs .nav-item:hover {
  background: #e1e1e1 !important;
}

.nav-tabs .active {
  border: 0;
  border-bottom: 3px solid #111 !important;
}

.nav-item.active {
  background: #e1e1e1 !important;
  position: relative;
}

.nav-item.active::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #111;
  position: absolute;
  left: 50%;
  top: 96%;
  transform: translateX(-50%) rotate(45deg);
}

.stats-holder-self {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stats-holder-self .top, .stats-holder-self .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  width: 100px;
  height: 100px;
  background: red;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.stats p, .stats label{
  padding: 0 !important;
  margin: 0 !important;
}

.stats label {
  font-size: 1.5em;
  font-weight: bold;
}

.button-custom {
  border: none;
  background: transparent;
}

.fa-plus-circle {
  color: #aaa !important;
}

.fa-plus-circle:hover {
  cursor: pointer;
}

.journal {
  overflow: hidden;
}

.quotes,
.todo,
.goals {
  max-height: 350px;
  min-height: 350px;
}

.todo-item:hover {
  cursor: pointer;
}

.todo-item:active {
  background: #e1e1e1 !important;
}

.about-holder {
  padding: 0 0 0 15px;
}

.about-holder p {
  width: 100%;
}

.rounded-1 {
  border-radius: 6px;
}

.timeline {
  padding: 0 !important;
}

.following-holder-parent {
  height: 100%;
  overflow: hidden;
}

.following-holder {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.each-following {
  background: #fafafa;
  padding: 15px 10px;
  transition: 0.3s;
  width: 99.9%;
  margin-bottom: 3px;
  border-radius: 3px;
}

.each-following:hover {
  cursor: pointer;
  background: #f5f5f5;
}

.each-following:active {
  background: #f0f0f0;
}

.MuiTypography-body1-129 {
  padding: 0 !important;
  padding-top: 20px !important;
}

.feelings-holder {
  padding: 0 !important;
}

.preview, .preview1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview > div, .preview1 > div {
  padding: 5px;
  background: #f1f1f1bb !important;
}

.likes-holder {
  min-height: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.book-privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-input-checkbox input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.custom-input-checkbox label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: grey;
	border-radius: 20px;
  position: relative;
}

.custom-input-checkbox label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 2px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 15px;
	transition: 0.3s;
}

.custom-input-checkbox input:checked + label {
	background: #0085f3;
}

.custom-input-checkbox input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.custom-input-checkbox label:active:after {
	width: 15px;
}

.margin-l-15 {
  margin-left: 15px !important;
}

.width-or {
  max-width: 48% !important;
}

.create-memory {
  position: fixed;
  right: 33px;
  bottom: 115px;
  z-index: 10000;
}

#canvas {
  width: 100% !important;
  height: auto !important;
}

.create-memory button {
  height: 40px;
    width: 40px;
    background: none;
    border: none;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.show-img-holder, .select-image-holder {
  display: flex;
  align-items: center;
}

.show-img-holder > *, .select-image-holder > * {
  margin-right: 20px;
  font-size: 1rem;
}

label#label-file {
  background: #0085f3;
  padding: 5px 14px;
  border-radius: 50px;
  color:  white;
  cursor: pointer;
}

.edit-profile {
  text-align: center;
  color: gray;
}

img.img-fluid + label {
  display: none !important;
}

/* mobile screens */

@media screen and (max-width: 800px) {
  .border-top-overridden {
    border-top-width: 0.6em !important;
    border-top-color: #eee !important;
    border-top-style: solid;
  }

  #canvas, #canvas1 {
    width: 100% !important;
  }

  .home-wrapper {
    padding: 50px 10px;
  }

  .remove-padding {
    padding: 0 !important;
  }
}

/* desktop */

@media screen and (min-width: 800px) {
  .border-left-overridden {
    border-left-width: 0.6em !important;
    border-left-color: #eee !important;
    border-left-style: solid;
  }
  .rounded-left {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
  }
  .rounded-right {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }
}