.navbar {
  background: #fefefe;
  height: 50px;
  box-shadow: 0 0 5px #0003;
}

.navbar a {
  color: #333;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.banner img {
  height: 2.5em;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  max-width: 60%;
}

.search-bar input {
  padding: 0 20px;
  border-radius: 30px;
}

.search-results .row {
  padding: 0;
  margin: 0;
}

.search-results {
  position: absolute;
  width: 50%;
  top: 100%;
  left: -1px;
  z-index: 10000;
  background: white;
  border: 1px solid #3334;
  border-top: none;
  max-height: 400px;
  display: none;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0 5px !important;
  padding-top: 5px !important;
}

.search-results ul li {
  background: #f1f1f1;
  padding: 10px 20px !important;
  margin-bottom: 5px !important;
  font-weight: bold;
  font-size: 1.1em;
}

.search-results ul li:hover {
  background: #e1e1e1;
  cursor: pointer;
}

.search-results ul li {
  text-align: center;
}

.search-results ul li img {
  border-radius: 50%;
  max-width: 100px !important;
  max-height: 100px !important;
}

.navbar-holder-design {
}

.navbar-holder-design a, .navbar-holder-design input{
  color: #333 !important;
}

.add-gradient { 
  background-image: linear-gradient(to right, #4a6ecb, #3cc1a7);
}

#profile-img-header {
  width: 23px;
  border-radius: 15px;
}

.notifications-holder {
  position: absolute;
  top: 50px;
  height: 600px;
  width: 400px;
  z-index: 9998;
  right: 75px;
  display: grid;
  grid-template-rows: 50px auto;
}

.notifications-holder .notifications-header {
  background: #eee;
  display: flex;
  align-items: center;
}

.notifications-holder .notifications {
  background: gold;
}

.each-notification {
  cursor: pointer;
}

.each-notification:hover {
  background: #eee;
  text-decoration: none !important;
}

.notifications-parent a:hover {
  text-decoration: none !important;
}