input,
textarea {
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border: 1px solid #444 !important;
}

.loader-holder {
  width: 100px;
  margin: 0 auto;
}

.icon-holder img {
  width: 28px;
  height: 28px;
}

.icon-holder2 img {
  width: 25px;
  height: 25px;
}

a.profile {
  text-decoration: none !important;
}

.light-gray {
  background: #f1f1f1;
}

.fa-chevron-circle-up {
  font-size: 3em;
  transition: .3s;
}

.fa-chevron-circle-up:hover {
  transform: translateY(-3px);
}

#login_holder_self, #register_holder_self {
  background-repeat: no-repeat;
  height: 100vh;
  background-size: contain;
}

.auth-holder-login, .auth-holder-register {
  width: 20%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-holder-login input, .auth-holder-login input:focus, .auth-holder-register input, .auth-holder-register input:focus{
  text-align: center !important;
  border-width: 2px !important;
  border-image: linear-gradient(to right, #83f5b4, #4ca3d3) 1 !important;
  border-radius: 10px;
}

.login_holder_self .form-control, .register_holder_self .form-control {
  text-align: center;
}

button.login-btn {
  background: none;
  border: none;
  outline: none;
  height: 40px;
  cursor: pointer;
}

h1#sub-title {
  font-size: 1.24375rem !important;
  margin: 20px 0;
}

.dob-holder {
  position: relative;
}

#label-dob {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: #888;
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  #label-dob {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  #label-dob {
    display: inline-block;
  }

  .auth-holder-login, .auth-holder-register {
    width: 75%;
  }

  #login_holder_self {
    background-size: cover;
    padding-top: -10px;
  }

  #register_holder_self {
    background-size: cover;
    padding-top: 200px;
  }

  .nav-links-h {
    text-align: center;
  }
  
  .search-results {
    width: 100% !important;
  }

  .search-results ul li img {
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
  }

  .search-bar {
    width: 100% !important;
    max-width: 100% !important;
  }

}

.text-muted.red {
  color : red !important;
}

.canvas-container {
  margin: 0 auto;
}