input,
textarea {
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border: 1px solid #444 !important;
}

.loader-holder {
  width: 100px;
}

.icon-holder img {
  width: 25px;
  height: 25px;
}
