input,
textarea {
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  border: 1px solid #444 !important;
}

.loader-holder {
  width: 100px;
}

.icon-holder img {
  width: 28px;
  height: 28px;
}

.icon-holder2 img {
  width: 25px;
  height: 25px;
}

a.profile {
  text-decoration: none !important;
}

.light-gray {
  background: #f1f1f1;
}
