.login-page-holder, .register_holder_self {
    height: 100vh;
}

.login-page-holder .brand-holder, .register_holder_self .brand-holder {
    position: relative;
    left: -75px;
    top: -20px;
}

.login-page-holder .container, .login-page-holder .row, .register_holder_self .container, .register_holder_self .row {
    height: 100%;
}

.login-page-holder .right-side, .login-page-holder .left-side, .register_holder_self .right-side, .register_holder_self .left-side{
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-page-holder .left-side, .register_holder_self .left-side, .login-page-holder .right-side, .register_holder_self .right-side {
    z-index: 1;
}

.register_holder_self .left-side {
    padding-right: 80px;
}

.login-page-holder .navigation, .login-page-holder .brand-holder, .register_holder_self .navigation, .register_holder_self .brand-holder {
    padding: 100px 20px 60px 30px;
}

.login-page-holder .navigation ul, .login-page-holder .navigation li, .login-page-holder .navigation a,
.register_holder_self .navigation ul, .register_holder_self .navigation li, .register_holder_self .navigation a {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.login-page-holder .navigation, .register_holder_self .navigation, .login-page-holder .btn, .register_holder_self .btn, .register_holder_self input, .login-page-holder input{
    z-index: 2;
}

.login-page-holder .navigation ul, .register_holder_self .navigation ul {
    display: flex;
    justify-content: flex-end;
}

.login-page-holder .navigation li, .register_holder_self .navigation li {
    margin-right: 20px;
}

.login-page-holder .signup, .login-page-holder .signin-form, .register_holder_self .signup, .register_holder_self .signin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50%;
}

.login-page-holder .signin-form h1, .register_holder_self .signin-form h1{
    margin-bottom: 40px;
    letter-spacing: .6px;
}

.login-page-holder .signup h1,.register_holder_self .signup h1 {
    letter-spacing: .6px;
    margin-bottom: 30px;
}

.login-page-holder .signup p,.register_holder_self .signup p {
    margin-bottom: 50px;
}

.login-page-holder .signup .btn,.register_holder_self .signup .btn {
    width: 180px;
    background: #fff;
    height: 60px;
    font-weight: bold;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4881EC;
}

.login-page-holder .left-side form, .register_holder_self .left-side form {
    width: 100%;
}

.login-page-holder .left-side .form-group, .register_holder_self .left-side .form-group {
    margin-bottom: 0;
}

.login-page-holder .ip-group, .register_holder_self .ip-group {
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    background: #eee;
    border: 1px solid #0001;
}

.input-group-prepend {
    margin-right: 5px;
}

.login-page-holder #username {
    background: #eee;
}

.login-page-holder .form-group:nth-child(2) .ip-group, .login-page-holder .form-group:nth-child(2) .input-group-text, .login-page-holder .form-group:nth-child(2) input, .register_holder_self .form-group:nth-child(2) .ip-group, .register_holder_self .form-group:nth-child(2) .input-group-text, .register_holder_self .form-group:nth-child(2) input{
    background: #fff !important;
}

.login-page-holder .input-group-text, .register_holder_self .input-group-text {
    font-size: 20px;
}

.login-page-holder .input-group-text, .login-page-holder .left-side input, .login-page-holder .left-side input:active, .login-page-holder .left-side input:focus,
.register_holder_self .input-group-text, .register_holder_self .left-side input, .register_holder_self .left-side input:active, .register_holder_self .left-side input:focus{
    border: none !important;
}

.login-page-holder .left-side input, .register_holder_self .left-side input {
    padding: 10px 6px;
    font-size: 18px;
}

.login-page-holder .loader-holder button , .register_holder_self .loader-holder button {
    width: 180px;
    background: #4881EC;
    height: 60px;
    font-weight: bold;
    border-radius: 100px;
    color: #fff;
    margin-top: 30px;
}

.register_holder_self .loader-holder button {
    margin-top: 10px;
}

.floating-blob {
    position: fixed !important;
}

#first {
    right: 42%;
    top: 50%;
    z-index: 1;
}

#second {
    left: 30%;
    top: 100px; z-index: 1;
}

#fourth {
    right: 15%;
    top: 50%;
    z-index: 1;
}

#seventh { 
    left: 10%;
    top: 300px; z-index: 1;
}

#eighth {
    left:10%;
    bottom: 50px;  z-index: 1;
}

#fifth {
    right: 10%;
    top: 0px;
    z-index: 1;  
}

#third {
    right: 32%;
    bottom: 200px; z-index: 1;
}

#sixth {
    right: 10%;
    bottom: 0px;
    z-index: 1;
}

/* @keyframes pound {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes circle {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.boxAnimation {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.introcontainer {
    padding: 175px;
    width: 56%;
    text-align: center;
    margin: auto;
}

img#first {
    left: 58px;
    top: 265px;
    width: 15px;
    height: auto;
    animation: pound 8s infinite;
    transform-origin: center;
} */